<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matusyama Cuisine</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body class="text-center">
    <!-- header -->
    <%- include('./partials/header') %> 

    <!-- will be installed courses, contact etc -->
    <%- body %>
    <h1>TEST</h1>

    <!-- footer -->
    <%- include('./partials/footer') %> 
</body>

</html>